<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.randomalarm">
    <!-- <uses-permission android:channelName="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_alarm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_alarm"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".multiCalendar.MultCalendarActivity"
            android:launchMode="singleTask">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->

                <!--<action android:name="android.intent.action.VIEW" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".setting.DefaultSettingActivity"
            android:label="@string/title_activity_default_setting" />
        <activity
            android:name=".song.SongPickerActivity"
            android:label="@string/title_activity_song_picker" />
        <activity
            android:name=".edit.AlarmEditActivity"
            android:label="@string/title_activity_alarm_edit" />
        <activity
            android:name=".song.AlarmSongActivity"
            android:label="@string/title_activity_alarm_song" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.AlarmSettingActivity"
            android:label="@string/title_activity_alarm_setting" />
        <activity
            android:name=".alarm.AlarmRemindActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.FullscreenNoActionBar" />

        <receiver
            android:name=".alarm.AppBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".alarm.TimeTickReceiver" />

        <service android:name=".alarm.AlarmInitService" />
    </application>

</manifest>